/**
 * Brutalist Light theme variables
 */

:root {
  --base-color: #000000;
  --border: solid 2px #000000;
  --border-thick: solid 4px #000000;
  --border-thin: solid 1px #000000;
  --selection-background: #000000;
  --selection-text: #FFFFFF;
  --accent-color: #FF0000;
  --accent-secondary: #00FF00;
  --accent-tertiary: #0000FF;
  --background-color: #FFFFFF;
  --background-secondary: #F0F0F0;
  --background-accent: #FFFF00;
  --text-color: #000000;
  --text-secondary: #333333;
  --placeholder-color: #666666;
  --link-color: #000000;
  --link-hover-bg: #000000;
  --link-hover-text: #FFFFFF;
  --shadow: 4px 4px 0px #000000;
  --shadow-small: 2px 2px 0px #000000;
  --code-color-1: #666666;
  --code-color-2: #FFFF00;
  --code-color-3: #FF0000;
  --code-color-4: #FFAAAA;
  --code-color-5: #0000AA;
  --code-color-6: #00AA00;
  --code-color-7: #AA0000;
  --code-color-8: #000080;
  --code-color-9: #00AA00;
  --code-color-10: #888888;
  --code-color-11: #555555;
  --code-color-12: #800080;
  --code-color-13: #00AAAA;
  --code-color-14: #009999;
  --code-color-15: #AA5500;
  --code-color-16: #1E90FF;
  --code-color-17: #800000;
  --code-color-18: #BBBBBB;
}
