<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Test multi</title>
	<style type="text/css" media="screen">
		body {
			background-color: rgb(250, 250, 250);
			margin: 2em;
		}
		pre {
			margin: 1em;
			width: 40em;
			height: 22em;
			display: inline-block;
			font-size: 1em;
			line-height: 1.2;
			font-family: 'Simple Console', monospace;
			background-color: white;
		}
	</style>
    <!-- ASCII scripts removed -->
</head>
<body>
	<pre></pre>
	<!-- ASCII animation removed -->
</body>
</html>